<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>webService</key>
	<string>https://www.hackingwithswift.com/example-code/</string>
	<key>boll</key>
	<string>true</string>
	<key>Item_per_month</key>
	<string>30</string>
</dict>
</plist>
