<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776456609858-3gc0nh9qb5i8t30vkueneqo2fsq57q5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776456609858-3gc0nh9qb5i8t30vkueneqo2fsq57q5h</string>
	<key>API_KEY</key>
	<string>AIzaSyBwzSdJD3sk-2naJdORPEY0CZxZTSZPjz0</string>
	<key>GCM_SENDER_ID</key>
	<string>776456609858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.YoutubeChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-fcfff</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-fcfff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776456609858:ios:e492c1dcd1e9f89b404ddb</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-fcfff.firebaseio.com</string>
</dict>
</plist>