<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692663664173-lpod84n8ioghu9ns8675blq1umkdpc4q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692663664173-lpod84n8ioghu9ns8675blq1umkdpc4q</string>
	<key>API_KEY</key>
	<string>AIzaSyCAvvxt7woZKfv8iLSYsrwtwzi_iTBRTH4</string>
	<key>GCM_SENDER_ID</key>
	<string>692663664173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.Google-Sign-in</string>
	<key>PROJECT_ID</key>
	<string>signinfirebase-37ac9</string>
	<key>STORAGE_BUCKET</key>
	<string>signinfirebase-37ac9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692663664173:ios:2f13b1a3226db7099ac2a4</string>
	<key>DATABASE_URL</key>
	<string>https://signinfirebase-37ac9.firebaseio.com</string>
</dict>
</plist>